@font-face {
    font-family: Komikah;
    src: url(KOMIKAH_.ttf);
}

body{
    background-color: rgb(41, 41, 41);
    color:white;
    font-family: Komikah;
    padding: 0px;
    margin: 0px;
}

.topBarBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;

    border-bottom: 2px solid black;

    width:auto;
    height: auto;
    background-color: rgb(60, 60, 65);
    gap: 20px;
}

.topBarTabs{
    color: white;
    font-size: 40px;


    margin-left: auto;
    margin-right: auto;
    font-family: Komikah;
    width: 200 px;

    /*
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: rgb(80, 80, 85);
    */
    user-select: none;
}

.topBarTabs:hover{
    /*
    background-color: rgb(70, 70, 75);
    */
    color: rgb(205, 205, 210);
}

.topBarTabs:active{
    /* 
    background-color: rgb(50, 50, 55);
    */
    color: rgb(105, 105, 110);
}

a{
    color:inherit;
    text-decoration: inherit;
}
/**/